In [ ]:
print("Hello World!")

Hello World!

# Python 


---

Data types 

Difrent forms that data take


```
string =  "a string of letters"
int = 4
int = 3.45
list = [1, 34, 'hi']
dictionary = {'key': value, 'key2': value2}
```

###intgers: any number

```
int = 4453
```

###float: any number with a decimil 

```
int = 45.343
```

###complex: any complex number

```
complex = 1e
```

###string: letter or number that is a stream

```
string = 'this is a string'
string = "this is also a string"
string = "D'Esposito 1 is also a string"
```

Note: By the end of this ordeal string is equal to "D'Esposito 1 is also a string"

###lists: a orderd list of variables 


```
list = [x, y, z]
```

###tuple: a list that cant be changed 

```
tuple = (4, 5)
tuple = (1, )
```

Note: the asingn a single value to a tuple you still need a comma however a 
constant would do the same

###Dictionary: a unorderd key pair list thing 

```
dict = {'key1': 34, 1: 'string', 'key3': 3}
strange_dict = {'key1': 43, 34: ['this', 'is', 'posible']}
```

###Set: unorderd collections of unique elements 
```
set = (('hi', 'this', 'cant', 'have', 'repeats'))
```
We wont talk about bytes


#**Lists: A collection of items with order**

ex.
```
list = [1, 3, 4]
```
Getting a value at a list index
indexs start at 0

In [ ]:
list = ['random', 'words', 'here']
print(list)

words

##Accsessing Elements
use a index of the list ot acsess a element  
Notice that the index starts at 0 not 1 so 1 is the secound element

In [ ]:
print(list[1])

words

##Adding Modifying and Removing 
If you are using a list you will want to change it at one point

###Modifying
```
list = [3, 4, 5]
list[2] = 67
````
the list is now comprised of [3, 4, 67]

In [ ]:
list = [1, 45, 3, 65]
list[1] = 34
print(list)

[1, 34, 3, 65]

###Adding
To addd a element to the end of a list use the ```.append()``` method 

```
list = [3, 4, 5]
list.append(45)
````
the list is now comprised of [3, 4, 5, 45]


You can also insert a element at a specific index with the ```.insert()```
method

```
list = ['r', 'q', 'c']
list.inset(1, 'w')
```

In [ ]:
list = [3, 4, 5]
list.append(45)
print(f'using append the list is \n %s' %list)

list = [3, 4, 5]
list.insert(0, 765)
print(f'using insert the list is \n %s' %list)

using append the list is
 [3, 4, 5, 45]
using insert the list is
 [765, 3, 4, 5]

###Removing 

fist of there is the delete statement 

```
list = [2, 4, 3]
del list[1]
```
the list is now ```[2, 3]```

or if you want to keep using the value then the ```.pop()```` method is available 
```
list = [2, 4, 3]
element = list.pop(1)
```
element is now ```4```

In [ ]:
list = ['ham', 'bread', 'icecream']

del list[0]
print(f'the list is %s after del' %list)
 
list = ['ham', 'bread', 'icecream', 'milkshake', 'lttstore.com']

some_val = list.pop()
pop_from_index = list.pop(1)

print(f'the pop methoud gave us the var {some_val} and the index pop gave'
      '{pop_from_index} the list is now {list}')

##Sorting

you can sort a list with the sorted() funtion

In [ ]:
cars_companys = ['bmw', 'audi', 'toyota', 'subaru']

print(f'unsorted = {cars_companys}\n  sorted = {sorted(cars_companys)}')

unsorted = ['bmw', 'audi', 'toyota', 'subaru']
  sorted = ['audi', 'bmw', 'subaru', 'toyota']

##Sections 

You can get a slice of a list

In [ ]:
things_oliver_is = ['cool', 'handsome', 'funnny', 'egotistical', 'tall', 'nerd']

lets say you only want to work with the true statments

In [ ]:
true = things_oliver_is[3:]
print(true)

['egotistical', 'tall', 'nerd']

##Tuples

A list you cant change

In [ ]:
my_cool_tuple = (3, 45, 'revilo')

#**Range Function/Looping**

The range funtion is very usefull it make a list of numbers from a range p.s. 
a range is a data type

In [ ]:
my_range = range(1, 10)
print(my_range)

range(1, 10)

You can use for loops to do somthing to each element of the range

In [ ]:
for x in my_range:
  print(f"Oliver is the best and x this is {x}")

Oliver is the best and this is 1
Oliver is the best and this is 2
Oliver is the best and this is 3
Oliver is the best and this is 4
Oliver is the best and this is 5
Oliver is the best and this is 6
Oliver is the best and this is 7
Oliver is the best and this is 8
Oliver is the best and this is 9

Lest make a list from a rage (restart runtime)

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

#**Functions**

you can make a funtion then call it later

In [ ]:
def print_hello_world():
  print('hello world')

In [ ]:
print_hello_world()

hello world